#css, #ruby, #java, #csharp, #php, #no {
  display: none;
}

.teal-background {
  /*background-color: #9BEFE3;*/
  background-image:url(../img/tealcode.png);
  background-position: center;
}

.pink-background {
  /*background-color: #EF9BCE;*/
  background-image:url(../img/pinkcode.png);
  background-position: center;
}

.orange-background {
  /*background-color: #EFDC9B;*/
  background-image:url(../img/orangecode.png);
  background-position: center;
}

.purple-background {
  /*background-color: #BC9BEF;*/
  background-image:url(../img/purplecode.png);
  background-position: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

#no img {
  width: 500px;
  padding-top: 100px;
}

#php img {
  width: 500px;
}

#java img {
  width: 400px;
}

#code img {
  margin-top: 50px;
  width: 500px;
  border: 4px solid black;
}

.container {
  border: 5px solid black;
  padding: 40px;
  margin-top: 30px;
  background-color: white;
}

.col-md-7 p {
  font-family: 'Share Tech Mono', monospace;
  font-size: 15pt;
}

.col-md-7 h3 {
  font-family: 'Baloo', cursive;
  font-size: 30pt;
  text-align: center;
}

.col-md-5 h3 {
  font-family: 'VT323', 'monospace';
  font-size: 25pt;
}

.jumbotron {
  font-family: 'Bungee Shade', cursive;
  font-size: 60px;
}

.btn {
background-color: #8269E7;
width: 50%;
text-align: center;
color: white;
font-size: 30px;
font-family: 'Baloo', cursive;
margin-left: auto;
margin-right: auto
}

.btn:hover {
  background-color: #F4338C;
  color: white;
}

select {
  font-family: 'Share Tech Mono', monospace;
}

input {
  font-family: 'Share Tech Mono', monospace;
}
