#css, #ruby, #java, #csharp, #php, #no {
  display: none;
}

.teal-background {
  background-color: #9BEFE3;
}

.pink-background {
  background-color: #EF9BCE;
}

.orange-background {
  background-color: #EFDC9B;
}

.purple-background {
  background-color: #BC9BEF;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

#no img {
  width: 500px;
  padding-top: 100px;
}

#php img {
  width: 500px;
}

#java img {
  width: 400px;
}

.container {
  border: 5px solid black;
  padding: 40px;
  margin-top: 30px;
  background-color: white;
}

.col-md-7 p {
  font-family: 'Share Tech Mono', 'monospace';
  font-size: 15pt;
}

.col-md-7 h3 {
  font-family: 'Baloo', cursive;
  font-size: 30pt;
  text-align: center;
}

.col-md-5 h3 {
  font-family: 'VT323', 'monospace';
  font-size: 25pt;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 70px;
}
