#css, #ruby, #java, #csharp, #php, #no {
  display: none;
}

.teal-background {
  background-color: #9BEFE3;
}

.pink-background {
  background-color: #EF9BCE;
}

.orange-background {
  background-color: #EFDC9B;
}

.purple-background {
  background-color: #BC9BEF;
}

img {
  width: 300px;
  padding: 5px;
}

.container {
  border: 5px solid black;
  padding: 40px;
  margin-top: 30px;
  background-color: white;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 70px;
}
